nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: green;
}
.container{
    background-color: bisque;
}
.content{
    background-color: brown;
    font-size: 2em;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}
